{% extends '::base.html.twig' %}
{% block title %}Eliminar Comentario{% endblock %}
{% block body -%}
<div align="center" class="container text-center">
    <h1>Comentario</h1>
    <table class="table-bordered table-striped text-center">
        <tbody>
            <tr>
                <th>Usuario</th>
                <th>Publicacion</th>
                <th>Comentario</th>
            </tr>
            <tr> 
                <td>{{ entity.usuario }}</td>   
                <td>{{ entity.publicacion }}</td>
                <td>{{ entity.comentario }}</td>
            </tr>
        </tbody>
    </table>
      <div class="text-center">
        <p></p>
        <form action="{{ path('comentario_delete', { 'id': entity.id }) }}" method="post" class="text-center">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger">Borrar</button>
        </form>
         <a href="{{ path('comentario') }}">
           Volver a la Lista
        </a>
      </div>
      </div>
{% endblock %}
