<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title class="h1">{% block title %}Inicio{% endblock %}</title>
        {% block stylesheets %} <LINK href="{{asset ('bundles/mascotasmascotas/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <LINK href="{{asset ('bundles/mascotasmascotas/css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css"></a>
        {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
  {% block header%}
        <div class="hero-unit badge-warning">
            <div class="header-logo text-center"><img src="{{
     asset('bundles/mascotasmascotas/img/perrogato.jpg')
  }}"/><h1 class="text-center bar">Sistema Mascotas</h1></div></div>

                <div class="row-fluid">
                    <div class="span12">
                        <div class="navbar navbar-fixed-top navbar-inner">
                            <div class="navbar-inner">
                                <div class="container-fluid">
                                    <div class="row-fluid">
                                        <ul>
                                            <div class="span2"><li class="brand"><a href="{{ path('publicacion')}}"><i class="icon-home icon-white"></i>Sistema Mascotas</a></div>
                                            <div class="span2"><li class="brand"><a href="{{ path('publicacion_new')}}">Realizar una Publicacion</a></li></div>
                                            <div class="span2"><li class="brand">
                                                    <a href="{{ path('mascota_new')}}">Agregar a tu mascota</a>
                                                </li></div>
                  {% if is_granted('ROLE_USER') %}
                                            <div class="span2">     
                                                <li class="brand">
                                                    <a href="{{ path('logout')}}">Salir</a>
                                                    </a></li></div>
                    {% endif%}
                      {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                            <div class="span2"><li class="brand"><a href="{{ path('login')}}">Ingresar</a></li></div>
                      {% endif%} 
                                                    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')%}
                                                    <div class="span2">     
                                                        <li class="brand">
                                                          <a href="{{ path('usuario_panel', { 'usuario':app.user.username }) }}">Panel de control</a></li></div>                                                                         
 
                                            </div>
                                            {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
  {% endblock %}
     {% block titulo%}{%endblock%}
     {% block saludo%}
                         {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')%}
                                <div class="btn-group text-right">
                                    <a class="btn btn-primary text-right" href="#"><i class="icon-user"></i>Hola {{app.user.username}}</a>
                                </div>
                        {% else %}
                                 <div class="btn-group text-right">
                                 <a class="btn btn-primary text-right" href="#"><i class="icon-user"></i>Hola Anónimo</a>
                                </div>
                        {% endif %}
       {% endblock %}
                       
     {% block body%}
                                <div class="span10 text-center">
                                </div>
      {% block javascripts %}   
                                <script src="{{asset ('bundles/mascotasmascotas/js/jquery-1.10.1.min.js') }}"></script>
                                <script src="{{asset ('bundles/mascotasmascotas/js/bootstrap.min.js') }}"></script>
                                <script src="{{asset ('bundles/mascotasmascotas/js/bootstrap.js') }}"></script>
        {% endblock %}
      {% endblock %}
                        </div>
                    </div>
                </body>
            </html>
