{% extends "::base.html.twig" %}
{% block title%}Panel de Control{%endblock%}
{% block body %}
{% if is_granted('ROLE_USER') %}
<div class="btn btn-inverse"><a href="{{ path('usuario_edit')}}">Editar Perfil</a></div>
<h1 class="text-center text-info">Estas son tus publicaciones</h1>
<table class="container table-bordered table-striped">
    <thead>
        <tr class="text-center alert alert-danger">
            <th class="text-center">Nro de Aviso</th>
            <th class="text-center"><i class="icon-picture"></i>Foto</th>
            <th class="text-center">Avisos</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr style="central">
                <td class="text-center">
                    <div class="btn btn-small">{{entity.id }}</td>
                <td><img src="{{ asset(entity.foto.webpath) }}" alt="Sin foto" width="140" height="140" class="img-polaroid"></td>
                <td class="text-center">{{ entity.aviso }}</td>
                <td class="text-center">
                 {% if entity.fechaFinalizacion is  null %}
                        <div class="btn btn-inverse"><a href="{{ path('publicacion_edit', { 'id': entity.id }) }}">Editar</a></div>
                        <div class="btn btn-bg"><a href="{{ path('publicacion_finalizar', { 'id': entity.id })}}">Finalizar</a></td></div>
                 {% else %}
            <h6 class="text-center">Publicación Finalizada. Motivo:</h6>
            <h6>{{entity.motivo}}</h6>
                 {% endif%}
        </tr>
        {% else %}
            <td colspan=4 class="text-center">No tienes publicaciones realizadas</td>
        {% endfor %}
    </tbody>
</table>
<p></p>
<table class="container table-bordered table-striped">
    <thead>
        <tr class="text-center alert alert-danger">
            <th class="text-center">Aviso</th>
            <th class="text-center">Comentario</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <p><h3 class="text-center">Estos son tus comentarios:</h3></p>
<tbody> 
    {% for comentario in comentarios %}
        <tr class="text-center border-l" stylee="solid 1px">   
            <td styles="border solid 1px">{{ comentario.publicacion}}</td>
            <td styles="border solid 1px">{{ comentario.comentario }}</td>
            <td styles="border solid 1px">
            {% if comentario.publicacion.getFechaFinalizacion is null %}
                <div class="btn btn-inverse">
                    <a href="{{ path('comentario_edit',{'id': comentario.id }) }}">editar</a>
                </div>
             {% else %}
                <div class="btn btn-bg">
                    <a href="{{ path('comentario_delete', { 'id': comentario.id }) }}">eliminar</a>
                </div>
               {% endif %}
            </td>
        </tr>  
     {% else %}
        <tr><td colspan=3 class="text-center">Actualmente no has realizado comentarios</td></tr>
     {% endfor %}
    </tbody>
</table>
<p></p>
{% endif %}
{% endblock %}    