{% extends '::base.html.twig' %}

{% block body %}
<title class="h1">{% block title %}Publicaciones{% endblock %}</title>
<div class="text-center" style="margin: auto">
    <h1 class="text-info">Publicaciones</h1>
    <h4>Estas son las Publicaciones</h4>
    <h4>Ayudanos a que estas mascotas puedan volver a sus hogares.</h4>
    <p><br></br></p>
    <table class="container table-bordered table-striped">
        <thead>
            <tr class="text-center alert alert-danger">
                <th class="text-center">Nro de Aviso</th>
                <th class="text-center"><i class="icon-picture"></i>Foto</th>
                <th class="text-center">Avisos</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
                <tr style="central">
                    <td class="text-center">
                     <div class="btn btn-small">{{entity.id }}</td>
                    <td><img src="{{ asset(entity.foto.webpath) }}" alt="Sin foto" width="140" height="140" class="img-polaroid"></td>
                    <td class="text-center">{{ entity.aviso }}</td>
                    <td class="text-center">
                     {% if entity.fechaFinalizacion is not null %}
                        <div class="text-info">Publicación finalizada.Motivo:{{entity.motivo}}</div>
                     {% endif %}
                     <div class="btn btn-small"><a href="{{ path('publicacion_show', { 'id': entity.id }) }}">ver detalles</a></td></div>
               </tr>
        {% endfor %}
                </tbody>
            </table>
        {% block paginador %}
            <div class="pagination">
                <ul>                    
                     <li><a href="{{ path( 'publicacion', {'pagina_actual' : 1}) }}">Primero</a></li>
                     {% if (pagina_actual <= 1 ) %}
                          <li class="disabled"><a href="">Anterior</a></li>
                     {% else %}
                          <li><a href="{{ path('publicacion' , { 'pagina_actual' : pagina_actual - 1 }) }}">Anterior</a></li>
                     {% endif %}
                     <li><a href="#" class="disabled">{{ pagina_actual }}</a></li>
                      {% if (pagina_actual >= max_pag ) %}
                          <li class="disabled"><a href="{{ path( 'publicacion', {'pagina_actual' : max_pag }) }}">Siguiente</a></li>
                     {% else %}
                          <li><a href="{{ path( 'publicacion', {'pagina_actual' : pagina_actual + 1 }) }}">Siguiente</a></li>
                     {% endif %}
                    <li><a href="{{ path('publicacion' , { 'pagina_actual' : max_pag }) }}">Ultimo</a></li>                    
                </ul>                
            </div>
         {% endblock %}
        </div>
{% endblock %}
