{% extends '::base.html.twig' %}

{% block body %}
 <title class="h1">{% block title %}Publicaciones{% endblock %}</title>
<div class="text-center" style="margin: auto">
    <h1 class="text-info">Publicaciones</h1>
    <h4>Estas son las Publicaciones</h4>
    <h4>Ayudanos a que estas mascotas puedan volver a sus hogares.</h4>
    <p><br></br></p>
    <table class="container table-bordered table-striped">
        <thead>
            <tr class="text-center">
                <th class="text-center">Id</th>
                <th class="text-center">Aviso</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr style="central">
                <td class="text-center">{{ entity.id }}</td>
                <td class="text-center">{{ entity.aviso }}</td>
                
                <td class="text-center">
                <ul>
                     {% if is_granted('ROLE_ADMIN') %}
                    <li class="text-center">
                        <a href="{{ path('publicacion_show', { 'id': entity.id }) }}">ver</a>
                    </li>
                    <li class="text-center">
                        <a href="{{ path('publicacion_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                 </td>
                 {% endif %}
                         <a href="{{ path('publicacion_show', { 'id': entity.id }) }}">ver Mas</a>
                    </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

        <ul>
        <li>
           
        </li>
    </ul>
</div>
    {% endblock %}
