{% extends '::base.html.twig' %}
{% block title %}Detalle de Publicacion{% endblock %}
{% block body %}
<div class="text-center" style="align:center">
    <h1 class="text-info">Publicación</h1>
    <table class="container record_properties table-striped table-bordered text-center">
        <tbody>
            <tr class="text-center alert alert-danger">
                <th class="text-center">Usuario<i class="icon-user"></i></th>
                <th class="text-center">Tipo de Publicación</th>
                <th class="text-center">Fecha de publicación<i class = "icon-calendar" ></i></th>
                <th class="text-center">Aviso</th>
                <th class="text-center"><i class="icon-picture"></i>Foto</th>
                <th class="text-center">Contacto</th>
            </tr>
            <tr>
                <td class="text-center">{{ entity.usuario }}</td>
                 {% if ( entity.tipo ) =='e' %}
                <td class="text-center"><strong>Encontrado</strong></td>
                 {% else %}
                <td class="text-center"><strong>Perdido</strong></td>
                 {% endif %}
                <td class="text-center">{{ entity.fechapublicacion|date('d/m/Y') }}</td>
                <td class="text-center">{{ entity.aviso }}</td>
                <td class="text-center"><img src="{{ asset(entity.foto.webpath) }}" alt="Sin foto" width="140" height="140" class="img-rounded"></td>
                <td class="text-center">{{ entity.contacto }}</td>
            </tr>
        </tbody>
    </table>
    {% if is_granted('ROLE_USER') %}
        <div>
            {% include "MascotasMascotasBundle:Comentario:index.html.twig" with {'entities':comentarios} %}
              
            {% block paginador %}
            <div class="pagination">
                <ul>
                    <li><a href="{{ path( 'publicacion_show', {'id' : entity.id }) }}">Primero</a></li>
                    {% if (pagina_actual <= 1 ) %}
                        <li class="disabled"><a href="#">Anterior</a></li>
                    {% else %}
                        <li><a href="{{ path( 'publicacion_show', {'id' : entity.id, 'comentario_nro_pagina' : pagina_actual - 1 }) }}">Anterior</a></li>
                    {% endif %}
                      <li><a href="#" class="disabled">{{ pagina_actual }}</a></li>
                     {% if (pagina_actual >= max_pag ) %} 
                        <li class="disabled"><a href="#">Siguiente</a></li>
                    {% else %}
                         <li><a href="{{ path( 'publicacion_show', {'id' : entity.id, 'comentario_nro_pagina' : pagina_actual + 1 }) }}">Siguiente</a></li>
                    {% endif %} 
                    <li><a href="{{ path( 'publicacion_show', {'id' : entity.id, 'comentario_nro_pagina' : max_pag }) }}">Ultimo ({{ max_pag }})</a></li>
                </ul>
            </div>
            {% endblock %}
        </div>
    {% endif %}
    
    {% if is_granted('ROLE_USER') and entity.fechaFinalizacion is null %}
        <div align="center">
             {% render ( controller( 'MascotasMascotasBundle:Comentario:new', { 'publicacion_id' : entity.id } ) ) %}
        </div>
    {% endif %}
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="text-center">
            <h5>Si desea realizar un comentario<a class="brand">
                    <a href= "{{ path('login', {'_target_path' : 'publicacion'  })}}">Ingresar</a></h5>
            <h5>Si Todavía no estás registrado<a href= "{{ path('registro')}}">
                    <i class="icon-pencil"></i>Registrarse</a></h4>
        </div>
    {% endif %}
 {% endblock %}